@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.page{
  @apply flex min-h-screen flex-col items-center;
}

.filters{
  @apply h-6 px-2 py-1 bg-white rounded-md shadow justify-start items-center gap-1 inline-flex;
}

.text_filter{
  @apply text-center text-black text-xs font-light font-futura leading-none;
}

.principal_title{
  @apply md:text-4xl text-2xl text-center text-light-brown font-futura font-bold;
}

.icon_activities{
  @apply text-aqua text-lg;
}

.description_activities{
  @apply text-black text-xs font-futura;
}

.experiences ul {
  list-style: inside;
  padding-left: 10px;
}

.experiences ul li {
  margin-bottom: 1rem;
}