@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.page{
  @apply flex min-h-screen flex-col items-center;
}

.filters{
  @apply h-6 px-2 py-1 bg-white rounded-md shadow justify-start items-center gap-1 inline-flex;
}

.text_filter{
  @apply text-center text-black text-xs font-light font-futura leading-none;
}

.principal_title{
  @apply md:text-4xl text-2xl text-center text-light-brown font-futura;
}

.italictiempos_title{
  @apply text-center text-4xl text-light-brown font-tiempos italic py-4;
}

.tiempos_description{
  @apply text-black font-tiempos leading-none flex gap-2 font-medium text-lg;
}

.icon_activities{
  @apply text-light-brown text-lg;
}

.description_activities{
  @apply text-black text-xs font-futura;
}

.experiences ul {
  list-style: inside;
  padding-left: 10px;
}

.experiences ul li {
  margin-bottom: 1rem;
}

.green_button{
  @apply text-green border-2 border-green rounded-full px-6 py-2 mt-2 text-sm font-futura;
}

.input_cart{
  @apply bg-green font-futura text-cream p-2;
}

.background {
  background-image: url('/assets/images/patron.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.infodisplay a{
  @apply underline;
}


/* emergency hk fd */
.info_container{
  @apply bg-green w-full pt-10 pb-20 md:pb-20 md:pt-10 flex flex-col justify-center items-center relative;
}

/* welcome */
.welcome_container{
  @apply flex flex-col justify-center items-center w-full h-full bg-green p-10 md:p-14;
}

.welcome_paragraph{
  @apply text-center md:text-xl text-lg  text-light-brown font-futura;
}

.welcome_description{
  @apply text-cream md:text-lg text-sm font-tiempos text-center leading-6 tracking-wide my-4;
}

/* adventure */
.adventure_container{
  @apply grid grid-cols-1 gap-4 xl:grid-cols-4 grid-flow-row-dense auto-rows-auto md:px-10 pb-20;
}

.adventure_img{
  @apply md:w-full w-full h-48 md:h-52 object-cover;
}

.adventure_title{
  @apply text-light-brown text-xl leading-tight font-tiempos mt-2;
}

.button_line{
    @apply text-green border-b-2 border-green px-6 py-2 mt-2 text-sm font-futura;
}

